* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.page-bg {
  background: linear-gradient(135deg, #e8f9f1, #f2fcf8, #ffffff);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
}

.signup-container {
  display: flex;
  width: 50%;
  background: #fff;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

.left-image-signup {
  width: 40%;
}

.left-image-signup img {
  object-fit: cover;
  width: 100%;
}

.form-container {
  min-height: 410px;
  display: flex;
  flex-direction: column;
  width: 50%;
  background: #fff;
  align-items: center;
  gap: 15px;
  padding: 30px 20px;
  border-radius: 0 12px 12px 0;
}

.form-container input {
  width: 85%;
  height: 40px;
  padding: 0 12px;
  border: 1px solid #a8e6b1;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.form-container input:focus {
  border: 1px solid rgb(60, 171, 27); /* bright green */
  box-shadow: 0 0 6px rgba(60, 171, 27, 0.4);
}

p.login-header {
  font-size: 22px;
  font-weight: bold;
  color: #14532d; /* dark green */
  margin-bottom: 10px;
}

.signup-btn {
  width: 85%;
  height: 42px;
  background: rgb(60, 171, 27);/* green gradient */
  color: white;
  font-size: 15px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.signup-btn:hover {
  /* background: linear-gradient(135deg, #4ade80, rgb(60, 171, 27)); */
  transform: translateY(-2px);
}

.login-text {
  font-size: 14px;
  color: #444;
  margin-top: 10px;
}

.login-text .act-btn-login {
  color: rgb(60, 171, 27);
  font-weight: 600;
  cursor: pointer;
  transition: color 0.3s;
}

.login-text .act-btn-login:hover {
  color: #15803d; /* deeper green */
}

.error {
  color: rgb(200, 30, 30);
  font-size: 14px;
}
